<nav class="navbar navbar-inverse" style="border-radius: 0;">
	<div class="container-fluid">
		<div class="navbar-header">
			
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand">RecipY</a>
		</div>

		 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li routerLinkActive = "active"><a routerLink="/recipes">Recipes</a></li>
				<li routerLinkActive = "active"><a routerLink="/shopping-list">Shopping List</a></li>
			</ul>
      <ul class="nav navbar-nav navbar-right">
      	<ng-template [ngIf]="!authService.isAuthenticated()">
	      	<li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/signup">Register</a></li>
	      	<li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/signin">Login</a></li>
      	</ng-template>
      	<li style="cursor: pointer;" *ngIf="authService.isAuthenticated()"><a (click)="onLogout()">Logout</a></li>
      	<li class="dropdown" appAppDropdown *ngIf="authService.isAuthenticated()">
      		<a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
      		<ul class="dropdown-menu">
      			<li><a style="cursor: pointer;" (click)="saveData()" >Save Data</a></li>
      			<li><a style="cursor: pointer;" (click)="getData()">Fetch Data</a></li>
      		</ul>
      	</li>
      </ul>
		</div>
	</div>
</nav>

