<div class="alert alert-success" *ngIf="editDone"><b>Edit Successful</b></div>
<div class="alert alert-success" *ngIf="addDone"><b>New Recipe Added</b></div>

<div class="row">
	<div class="col-xs-12">
		<h3 class="text-center"><i><b>Recipe Edit Form</b></i></h3>
		<form [formGroup] = "recipeForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" formControlName = "name">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>Image Path</label>
						<input type="text" class="form-control" formControlName = "imagePath">
					</div>
					<img src="{{recipeForm.value['imagePath']}}" *ngIf="recipeForm.value['imagePath']" class="img-responsive" style="max-height: 70px;">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" rows="5" formControlName = "description"></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group" formArrayName="ingredients">
						<label>Ingredients</label>
						<div class="row" *ngFor="let key of recipeForm.get('ingredients').controls; let i =index" [formGroupName]="i"><br>
							<div class="col-xs-8">
								<input type="text" class="form-control" formControlName="name">
							</div>
							<div class="col-xs-2">
								<input type="number" class="form-control" formControlName="amount">
							</div>
							<div class="col-xs-2">
								<button class="btn btn-danger btn-sm" style="border-radius: 50%;" (click)="deleteIngredient(i)">X</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button type="button" class="btn btn-primary" (click)="addIngredientControl()">Add Ingredient</button>
					<button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" *ngIf="!editMode">Save</button>
					<button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid" *ngIf="editMode">Edit</button>
					<button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>

<br><br>