input.ng-invalid.ng-touched{
	border-color: red ;
}

input.ng-valid.ng-touched{
	border-color: green;
}

textarea.ng-invalid.ng-touched{
	border-color: red ;
}

textarea.ng-valid.ng-touched{
	border-color: green;
}