<div class="alert alert-success" *ngIf="addStatus == true "><b>Ingredient Added</b></div>


<div class="row">
	<div class="col-sm-12">
		<img src="{{ displayedRecipe.imagePath }}" style="max-height: 100px; margin: 0 auto;"  class="img-responsive">
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h1 class="text-center">{{ displayedRecipe.name }}</h1>
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
	 <div class="btn-group pull-right" appAppDropdown>	
	   <button class="btn btn-primary dropdown-toggle pull-right">Manage <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a (click) = "addToShoppingList()" style="cursor: pointer;">Add to Shopping List</a></li>
			<li><a href="#">Edit Recipe</a></li>
			<li><a href="#">Delete Recipe</a></li>
		</ul>
	</div>
  </div>	
</div>

<div class="row">
	<div class="col-sm-12">
		<p class="text-center"><b>{{ displayedRecipe.description }}</b></p>
	</div>
</div>

<br>

<div class="row">
	<div class="col-sm-12">
		<ul class="list-group">
			<li class="list-group-item" *ngFor = "let ing of displayedRecipe.ingredients">{{ing.name}} -  {{ing.amount}}</li>
		</ul>
	</div>
</div>