<div class="alert alert-success" *ngIf="changeStatus"><b>Changes Successful</b></div>
<div class="alert alert-danger" *ngIf="changeStatusDelete"><b>Item Deleted</b></div>
<br>
<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit) = "onAddItem(f)" #f="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label>Name</label>
					<input type="text" class="form-control" name="name" ngModel required #name="ngModel">
				</div>
				<div class="col-sm-3 form-group">
					<label>Amount</label>
					<input type="number" class="form-control" name="amount" ngModel required pattern="^[1-9]+[0-9]*$" #amount="ngModel">
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-success" type="submit" [disabled] = "!f.valid" *ngIf="!editMode">Add</button>
					<button class="btn btn-success" type="submit" [disabled] = "!f.valid" *ngIf="editMode">Edit</button>
					<button class="btn btn-danger" type="button" (click) = "onDeleteItem()" [disabled]="!editMode">Delete</button>
					<button class="btn btn-primary" type="button" (click) = "onClear()">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>